@using System.Globalization;
@using AW_MVC_uppgift_3.Models;

@model Employee[]
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>My Title</title>
</head>
<body>
    <h1>
        I have a problem with the following code:
    </h1>
    <ul>
        @{
            foreach(var product in Model)
            {
                //<li id="@product.Id">
                //    @product.Make @product.Model
                //    <ul>
                //        <li>@product.Price.ToString("C", new CultureInfo("sv-SE"))</li>
                //    </ul>
                //</li>
            }
        }
    </ul>

</body>
</html>



