@using System.Globalization;
@using AW_MVC_uppgift_3.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@model Employee
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>My Title</title>
</head>
<body>
   
    

    <form asp-controller="Employees" asp-action="Create">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
        <label asp-for="Email"></label>
        <input asp-for="Email" type="email"/>
        <span asp-validation-for="Email"></span>
        <br />
        <input type="submit" value="Add" />
    </form>
    <div asp-validation-summary="All"></div>

</body>
</html>

