
@model CreateVM

    <form asp-controller="Employees" asp-action="Create">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
        <br />
        <label asp-for="Email"></label>
        <input asp-for="Email" type="email"/>
        <span asp-validation-for="Email"></span>
        <br />
    <label asp-for="BoxCheck"></label>
    <input asp-for="BoxCheck"  />
    <span asp-validation-for="BoxCheck"></span>
    <br />
        <input type="submit" value="Add" />
    </form>
    <div asp-validation-summary="All"></div>

    @section endOfBody{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    }

